.main-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
    grid-column-gap: 2em;
}

main {
    background-color: #fff;
    color: #000;
    grid-column: 2 /-2;
  }
  
    .head {
    grid-column: 2 / -2;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 7em;
  }
  
  .page-title {
    color: #000;
    font-size: 2.5rem;
    justify-self: center;
    margin-bottom: 3.3rem;
  }
  
  .main-image {
    grid-column: 2 / -2;
    object-fit: cover;
    max-width: 100%;
    display: block;
    box-shadow: 10px 10px 250px #00000052;
  }
  
  .main-text {
    grid-column: 2 / -2;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  
  .section-title::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin-top: 1rem;
    background: #db5f5b;
    margin-left: auto;
    margin-right: auto;
  }
  
  .sub {
    margin-top: 3em;
  }

.about-contenet-wrapper{
  margin-top: 3.5rem;
  width: 90%;
}
.about-contenet-wrapper p{
  text-align: justify;
  white-space: break-spaces;
}
  .section-title{
    margin-bottom: 1em;
  }


.about-Sahm-Belady-image{
  height: 150px;
  width: auto;
  margin-top: 2rem;
}
  
  @media (min-width: 600px) {
    .main-grid {
      grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(20px, 450px)) minmax(1em, 1fr);
  }
 

  
.page-title::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background: #db5f5b;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}
  
  .main-image {
    grid-column: 2;
    margin-top: 1.3em;

  }
  
  .main-text {
    grid-column: 3 / span 2;
    margin-top: 0;
  }
  
  .section-title::after {
margin-left: 0;
}
  
 
}

@media(min-width: 700px) {
.page-title::after {
  content: '';
  display: block;
  width: 160px;
  height: 5px;
  background: #db5f5b;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}
}

.about-main-image{
  display: inherit;
  width: 80%;
  margin: 2rem auto;
}


@media(max-width: 768px) {
  .about-contenet-wrapper {
        margin-top: 3.5rem;
        width: 90%;
        margin: auto;
    }
    .about-contenet-wrapper p {
      text-align: initial;
    }
  }