.thumbnail-wrapper{
    padding: 0px 45px;
}
.thumbnail3 {
    width: 90%;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 25px;
}
.we-do-sec{
    padding: 24px 85px;
}
.single-do-sec{
    margin-bottom: 1em;
}
.single-check{
        margin-right: 10px;
        color: #db5f5b;
        font-size: 1.4em;
    
}

.service-img{
    width: 60%;
}

.main-text p{
    white-space: pre-wrap;
    text-align: justify;
}


@media (max-width: 768px) {
    .we-do-sec {
        padding: 24px 10px;
    }
  }