.section-title {
    margin-bottom: 1em;
}

.career-section-title:after {
    margin-top: 5px;
}

@media (min-width: 600px){
.section-title:after {
    margin-left: 0;
}

.section-title:after {
    background: #db5f5b;
    content: "";
    display: block;
    height: 3px;
    margin-right: auto;
    margin-top: 1rem;
    width: 100px;
}

}

.edit-btn{
    margin-right: 5px;
}


thead tr th{
    padding: 1.3rem .5rem !important;
}

.admin-sec-read-btn {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 50px;
    color: #fff;
    background: #db5f5b;
    margin-bottom: 50px;
    box-shadow: 0 3px 20px 0 #0000003b;
    width: auto !important;
}

.new-btn-wrapper{
    justify-content: center;
}


.admin-sec-read-btn:hover {
    cursor: pointer;
    animation: rubberBand .8s 1;
    color: #fff;
}


@-webkit-keyframes rubberBand {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.15, 0.9, 1);
      transform: scale3d(1.15, 0.9, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.8, 1.15, 1);
      transform: scale3d(0.8, 1.15, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(.95, 1.05, 1);
      transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, .95, 1);
      transform: scale3d(1.05, .95, 1);
    }
  
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes rubberBand {
   0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.15, 0.9, 1);
      transform: scale3d(1.15, 0.9, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.8, 1.15, 1);
      transform: scale3d(0.8, 1.15, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(.95, 1.05, 1);
      transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, .95, 1);
      transform: scale3d(1.05, .95, 1);
    }
  
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  .rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
  }
